.DS_STORE
notes.txt
notes
*/.idea/*
*/.vscode/*
*.htaccess
*/__pycache__/*
*/venv/*

*.o
*.a
*.so

*.dne

*.out
*.aux
*.log
*.pdf
*.pyc

backend/config.py
backend/website

*.ipynb_checkpoints*
*.idea/*

*node_modules*

backend/neticaPy/Netica_API_*

notes_KGP_meter
